html {
    background-color: black;
}
canvas {
    border: 2px solid black;
    width: 1200px;
    height: 600px;
    background-image: url('./assets/floor.png');
    background-repeat: no-repeat;
}

.container {
    text-align: center;
}

.game_menu {
    background-color: black;
    color: white;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.buttons {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 0px;
}

.gmbo {
    background-image: url('./assets/spikes.png');
    color: white;
    margin: 5px;
    width: 68px;
    height: 50px;
}

.gmboprice {
    color: white;
    margin-top: 0px;
}

.game_menu p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main_menu {
    width: 1200px;
    height: 600px;
    background-image: url('./assets/mainMenuBG.jpg');
}

.gameover {
    color: white;
    width: 1200px;
    height: 600px;
    font-family: 'Metal Mania';
}

.gameover h1 {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0%;
}

.gameover p {
    font-size: 40px;
}

.gameoverokbutton {
    width: 200px;
    height: 75px;
    background-color: black;
    border-radius: 30%;
    font-family: 'Metal Mania';
    font-size: 30px;
    color: white;
}

.gameoverokbutton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.hidden {
    display: none;
}

.title {
    color: white;
    font-family: 'Metal Mania';
    font-size: 100px;
    margin-top: 10px;
}

.play {
    width: 200px;
    height: 80px;
    padding: 0px;
    position: relative;
    font-family: 'Metal Mania';
    font-size: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    color: white;
    top: 75px;
    right: 100px
}

.play:hover {
    cursor: pointer;
    background-color: white;
    color: black
}

.quit {
    font-family: 'Metal Mania';
    font-size: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    color: white;
    width: 200px;
    height: 80px;
    padding: 0px;
    position: relative;
    top: 300px;
}

.quit:hover {
    cursor: pointer;
    background-color: white;
    color: black
}

.options {
    font-family: 'Metal Mania';
    font-size: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    color: white;
    width: 200px;
    height: 80px;
    padding: 0px;
    position: relative;
    top: 75px;
    right: -100px;
}

.options:hover {
    cursor: pointer;
    background-color: white;
    color: black
}

.selected {
    background-color: red;
    border: 1px solid;
}